body {
    margin: 0;
}

.box {
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #fdc;
    border-radius: 20px;
    line-height: 44px;
    width: 120px;
    font-size: 1em;
}

.img {
    max-height: 60vh;
    width: 100%;
    object-fit: cover;
}

#title-box {
    margin: 4px;
}

#current-score, #hi-score {
    flex-grow: 0;
}

#big-box {
    background-color: #dec;
    border: 1px solid #aaa;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#game-box {
    height: 100%;
    background-color: #cdf;
    display: flex;
    flex-direction: row;
    /* flex-basis: 3 2 3; */
}

#left-box, #right-box {
    width: 40%;
    height: 100%
}

#middle-box {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 3 3 3; */
}
